html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
  
}

.contain {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}


.left{
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 50vw;
  height: 100vh;
}

.right{
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly; 

  /* background-color: green;
  opacity: 0.5; */
}

.winn{
  /* font-size: 2rem; */
  margin: 0 auto;
  align-self: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.green{
  color: #4BB543 ;
  font-size: 5rem;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.red{
  color: #F32013 ;
}

.flex {
  display: flex;
}

.refresh-icon{
  margin-left: 1vw;
  margin-top: 10px;

}

.game {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game>div {
  border: 6px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 5px solid #2c3e50;
  background-color: #34495e;
  color: white;
  margin: 2rem 1vw;
  padding: 10px 20px;
}

.game > div.winner {
  background: yellow;
}

.game > div.winner > span {
  color: blue;
}

@media (min-width: 600px) {
  .game {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 6px solid #2c3e50;
  }

  .game>div {
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer
  }
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 5%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #20262e;
  text-transform: uppercase;
  line-height: 1.375;
  margin: 0 0 2.4rem 0;
  letter-spacing: 1px
}

table {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2.4rem;
  background-color: #20262e;
  color: #fff;
  overflow: hidden;
}

table tr:nth-child(even) {
  background-color: rgb(46, 53, 62);
}

table th,
table td:before {
  color: #28b1de;
}

table th {
  display: none;
}

table th,
table td {
  margin: .5rem 2rem;
  text-align: left;
}

table td {
  display: block;
  font-size: 90%;
}

table td:first-child {
  padding-top: 1rem;
}

table td:last-child {
  padding-bottom: 1rem;
}

table td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 8rem;
  display: inline-block;
}

thead th {
  border-bottom: solid 2px rgb(148, 159, 175);
}

/* .table-2 table td:before {
  min-width: 0;
} */

.table-3 table {
  background-color: rgb(46, 53, 62);
}

.table-3 table tr:nth-child(even) {
  background-color: transparent;
}

.table-3 table td:before {
  width: 100%;
  font-weight: normal;
  opacity: .8;
}

.table-3 table td {
  margin: 0;
  padding: 1.5rem 2rem 0 2rem;
  font-weight: bold
}

.table-3 table tr td:first-child {
  background-color: #20262e;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table-3 table tr td:last-child {
  padding-bottom: 1.5rem;
  border-bottom: 4px solid rgba(255, 255, 255, .3)
}

.table-3 table tr:last-child td:last-child {
  border-bottom: none;
}

@media (min-width: 600px) {
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
  }
  table th,
  table td,
  table td:first-child,
  table td:last-child {
    padding: 1.5rem 2rem;
  }
  .table-3 table {
    background-color: #20262e;
  }
  .table-3 table tr:nth-child(even) {
    background-color: rgb(46, 53, 62);
  }
  .table-3 table td {
    margin: .5rem 2rem;
    padding: 1.5rem 2rem;
    font-weight: normal
  }
  .table-3 table tr td:first-child {
    background-color: transparent;
  }
  .table-3 table tr td:last-child {
    border-bottom: none;
  }
}